[submodule "reprocessing"]
	path = reprocessing
	url = git@github.com:jaredly/reprocessing
[submodule "reasongl-interface"]
	path = reasongl-interface
	url = git@github.com:jaredly/reasongl-interface
[submodule "matchenv"]
	path = matchenv
	url = https://github.com/bsansouci/matchenv
